@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    font-family: 'Josefin Sans'
}

body{
    background: #e6eaf87a;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.user-icon{
    font-size: 8rem !important;
}

@media only screen and (max-width: 450px) {
    .user-icon{
        font-size: 6.75rem !important;
    }
}